.body {
  margin: 1rem;
}

.selection {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.form {
  margin: 1rem;
}

.eventContent {
  display: flex;
}

.eventButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
